## Instructions
Create a Python connection with SQL database and retrieve the results of the following queries as dataframes:

1. How many distinct (different) actors' last names are there?
2. Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.
3. Get all films with ARMAGEDDON in the title.
4. Get 10 the longest films.
5. How many films include Behind the Scenes content?
6. Which kind of movies (rating) have a mean duration of more than two hours?
7. Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.

Create a Python connection with SQL database

In [ ]:
!pip install sqlalchemy
!pip install PyMySQL

In [ ]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass
password = getpass.getpass()

In [ ]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

1. How many distinct (different) actors' last names are there?

In [ ]:
data = pd.read_sql_query('select count(distinct last_name) from sakila.actor', engine)
data

2. Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.

In [ ]:
query = '''select *,
case
when dayofweek(rental_date) between "1" and "5" then 'workday'
when dayofweek(rental_date) between "6" and "7" then 'weekend'
#else 'weekend'
end as day_type
from rental;'''
rental_date = pd.read_sql_query(query, engine)
rental_date.head()

3. Get all films with ARMAGEDDON in the title.

In [ ]:
query = '''select title as 'Films' from sakila.film where (lower(title) like '%ARMAGEDDON%');'''
armageddon = pd.read_sql_query(query, engine)
armageddon.head()

4. Get 10 the longest films

In [ ]:
# 4. Get 10 the longest films.
query= '''select title, length from sakila.film
order by length DESC
limit 10;'''
longest_films = pd.read_sql_query(query, engine)
longest_films.head()

5. How many films include Behind the Scenes content?

In [ ]:
# 5.How many films include Behind the Scenes content?
# 538 films included Behind the Scenes content
query = '''select count(film_id) from sakila.film
where special_features like '%Behind the Scenes%';'''
behind = pd.read_sql_query(query, engine)
behind.head()

6. Which kind of movies (rating) have a mean duration of more than two hours?

In [ ]:
# 6. Which kind of movies (rating) have a mean duration of more than two hours?
# G, PG, NC-17, R and PG-13 movies have a mean duration of +2h hours
query='''select rating as 'Rating',
round(avg(length)) as 'Length Avg'  
from sakila.film
where length > 120
group by rating;'''
movie_rating = pd.read_sql_query(query, engine)
movie_rating.head()

7. Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.

In [ ]:
# 7. Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.
query='''select title, length, dense_rank() over(order by length) as 'rank'
from sakila.film
where length <> 0 and length <> ' '
order by length ASC;'''
rank_length=pd.read_sql_query(query, engine)
rank_length.head()